:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #c99e67;
  --color-text: #1c1b20;

  --bg-color-white: #ffffff;
  --bg-color-black: #000000;
  --bg-color-dark-orange: #9b7a4f;
  --bg-color-orange: #c99e67;
}
