.intro {
  height: 100vh;
  display: flex;
}

p {
  vertical-align: middle;
  display: flex;
  font-family: Solway;
  width: 900px;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 30px;
}
