.firstSlide {
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  position: relative;
  z-index: 20000;
  margin-top: -70px;
  text-align: center;
}

.firstSlideDiv {
  /* transition: 600ms linear; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  display: flex;
}

.textDiv {
  width: 10%;
}

.textDivHr {
  position: relative;
  top: 50%;
  text-align: center;
  size: 32;
  color: white;
}

.firstSlideTitle {
  font-size: 16px;
  padding: 0 5px;
  color: white;
}
