.nav {
  background-color: black;
  width: 100%;
  z-index: 50;
  padding: 10px;
  position: fixed;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  background-color: black;
  width: 500px;
  height: 20px;
}

.listLink {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  transition: color 300ms linear;
}

a:hover {
  color: #c99e67;
}

.active {
  color: #c99e67;
}
