.nav {
  background-color: white;
  width: 100%;
  z-index: 5000;
  padding: 10px 0;
  position: fixed;
  top: 0;
}

@media (min-width: 1280px) {
  .nav {
    background-color: black;
  }
}

.navWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1280px) {
  .navWrapper {
    justify-content: space-between;
  }
}

/* menu desktop */

.list {
  background-color: black;
  width: 500px;
  height: 20px;
}

.listLink {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  transition: color 300ms linear;
}

a:hover {
  color: #c99e67;
}

.active {
  color: #c99e67;
}
