.button {
  padding: 0;
  /* width: 100px; */
  border: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
  transition: color 300ms linear;
}

.button:hover {
  color: #c99e67;
}

.dropdown {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  /* border: 1px solid rgba(0, 0, 0, 0.04); */
  /* box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14); */
  background-color: #1c022f;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out,
    z-index 0.2s ease-in-out;
}

.whiteDrop {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  z-index: 10;
  background-color: #fff;
}

/* react animation */

.enter {
  opacity: 0;
  transform: translateX(-100%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2000ms ease-in-out, transform 2000ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2000ms ease-in-out, transform 2000ms ease-in-out;
}
