.agencyDiv {
  position: relative;
}

.whiteOverlay {
  background: white;
  width: 90%;
  position: absolute;
  transform: translateX(-50%);
  top: 30px;
  left: 50%;
  padding: 20px;
}

.whiteList {
  margin-bottom: 30px;
  display: block;
}

.whiteLink {
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 17px;
  display: block;
  font-weight: 600;
  padding: 7px 0px;
  margin: 0;
}

.whiteLink-active {
  border-bottom: 3px solid #c99e67;
  color: #c99e67;
}

.whiteLink:hover {
  border-bottom: 3px solid #c99e67;
  color: #c99e67;
  margin: 0;
}

.whiteText {
  padding: 0 20px;
  color: gray;
  line-height: 1.8em;
  font-family: Roboto;
  font-size: 16px;
}

.imgBg {
  width: 100%;
  object-fit: cover;
}
