.footer {
  display: block;
  height: 250px;
  background-color: black;
  align-items: center;
  width: 100%;
  position: relative;
}

.footerWrapper {
  position: absolute;
  margin: 0 auto;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.socials {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.socialsItem {
  height: 100%;
  margin-right: 20px;
}

.socialsItem:last-of-type {
  margin-right: 0px;
}

.socialsLink {
  display: block;
  fill: white;
  width: 20px;
  height: 20px;
}

.socialsLink:hover {
  fill: rgba(202, 160, 104);
  transition: color 300ms linear;
}

.logo {
  margin: 0 auto;
  margin-bottom: 10px;
}

.button {
  margin-top: 50px;
  margin-bottom: 50px;
}
