.footer {
  align-items: center;
  width: auto;
  position: relative;
  margin-bottom: 100px;
}

.footerWrapper {
  position: absolute;
  margin: 0 auto;
  margin-top: 150px;
  left: 50%;
  transform: translateX(-50%);
  /* width: 400px; */
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.socialsLink {
  display: block;
  height: 20px;
  padding-right: 0;
}

.socialsLink:hover {
  fill: rgba(202, 160, 104);
  transition: color 300ms linear;
}

.logo {
  margin: 0 auto;
  margin-bottom: 20px;
}
