.footer {
  display: block;
  height: calc(100vh - 77px);
  background-color: var(--bg-color-black);
  align-items: center;
  width: 100%;
  position: relative;
}

.footerWrapper {
  position: absolute;
  margin: 0 auto;
  margin-top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.socials {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.socialsItem {
  height: 100%;
  margin-right: 20px;
}

.socialsItem:last-of-type {
  margin-right: 0px;
}

.socialsLink {
  display: block;
  fill: var(--color-white);
  width: 20px;
  height: 20px;
}

.socialsLink:hover {
  fill: var(--color-orange);
  transition: color 300ms linear;
}

.logo {
  margin: 0 auto;
  margin-bottom: 10px;
}

.button {
  margin-top: 50px;
  margin-bottom: 50px;
}
