* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
a {
  display: block;
  object-fit: cover;
}

body {
  font-size: 15px;
  line-height: 24px;
  font-family: Poppins;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}
