/* section text */

.textWrapper {
  padding: 100px 0;
}

@media (min-width: 1280px) {
  .textWrapper {
    padding: 150px 0 150px;
  }
}

.text {
  font-family: 'Khula', sans-serif;
  font-size: 30px;
  line-height: 1.3em;
  color: #1c1b20;
}

@media (min-width: 1280px) {
  .text {
    font-size: 34px;
    margin-bottom: 20px;
  }
}

span {
  font-family: 'Libre Baskerville', serif;
  color: #c99e67;
}

/* section videos */

.videoList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button {
  margin-bottom: 0;
}

.videoItem {
  margin: 0;
  margin-bottom: 30px;
}

.videoItem:last-of-type {
  margin-bottom: 0;
}

.buttonLink {
  text-decoration: none;
  color: black;
}

.buttonLink:hover {
  color: white;
  transition: color 300ms linear;
}

.experienceH2 {
  margin-bottom: 50px;
}

.overlayImg {
  position: absolute;
  opacity: 1;
  width: 100%;
  object-fit: cover;
  transition: 300ms linear;
  height: 180px;
  margin-left: 20px;
}

.overlayImg:hover {
  opacity: 0;
  transition: 300ms linear;
}


/* our experience */

.clients {
  padding: 150px 0;
}

.experienceH2 {
  padding: 0;
}
