/* section videos */

/* .video {
  margin-bottom: 150px;
}

.videoList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.videoItem {
  margin: 0;
  margin-bottom: 30px;
}

.videoItem:last-of-type {
  margin-bottom: 50px;
} */

.buttonLink {
  position: relative;
  height: 100%;
  top: 18px;
  text-decoration: none;
  color: black;
}

.buttonLink:hover {
  color: var(--color-white);
  transition: color 300ms linear;
}

.experienceH2 {
  margin-bottom: 50px;
}

.overlayImg {
  position: absolute;
  opacity: 1;
  width: 100%;
  object-fit: cover;
  transition: 300ms linear;
  height: 180px;
  margin-left: 20px;
}

.overlayImg:hover {
  opacity: 0;
  transition: 300ms linear;
}

/* our experience */

.clients {
  padding: 100px 0;
}

.experienceH2 {
  padding: 0;
  text-align: center;
}
