.div {
  width: 100%;
  height: calc(0.8 * 100vw);
  background: black;
}

@media (min-width: 1280px) {
  .div {
    height: 100vh;
    width: 100%;
  }
}

.image {
  position: absolute;
  width: calc(0.5 * 100vw);
  margin-left: calc(0.45 * 100vw);
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 1280px) {
  .image {
    max-height: 100%;
    margin-left: 650px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.text {
  font-size: 18px;
  line-height: 1.14em;
  color: white;
  margin-left: 1.5%;
  position: absolute;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

@media (min-width: 380px) {
  .text {
    font-size: 20px;
  }
}

@media (min-width: 450px) {
  .text {
    font-size: 22px;
  }
}

@media (min-width: 600px) {
  .text {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
  .text {
    font-size: 60px;
    width: 380px;
    margin-left: 150px;
  }
}

span {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #c99e67;
}
